package components

templ FormUsername() {
	<div class="indicator m-10">
		<span class="indicator-item indicator-center badge badge-primary">Change Username</span>
		<form
			hx-post="/change-username"
			hx-target="#alert"
			hx-swap="innerHTML"
			class="w-xs bg-base-200 border border-base-300 p-4 rounded-box"
		>
			<div class="join">
				@InputUsername("username")
				<button type="submit" class="btn btn-primary join-item">Save</button>
			</div>
		</form>
	</div>
}
