package components

templ HeroDefault() {
	<div class="hero bg-base-100 min-h-screen">
		<div class="hero-content text-center">
			<div class="max-w-md">
				{ children... }
			</div>
		</div>
	</div>
}
